admin_password: {{ admin_password }}
configure_private_vars: {}
database: internal
munin_password: {{ munin_password }}
pg_password: {{ pg_password }}
primary_machine: localhost
redis_password: {{ redis_password }}
